# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
/tmp/*

# various artifacts
.sass-cache
/coverage.data
/coverage/
node_modules/
public/assets
.env

# OSX
.DS_Store
