html,
body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100%;

  h1 {
    display: inline;
  }

  .generate-button {
    position: absolute;
    right: 0;
    display: inline-block;
    margin: 10px 5px;
    height: 30px;
  }
}

.body {
  height: 70%;
  height: calc(100vh - 30px);
}

.modal-wall {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;

  &.invisible {
    display: none;
  }

  .text-copy-dialog {
    margin: 0 auto;
    top: 200px;
    position: relative;
    background: #fff;
  }
}

.scrollable-container {
  overflow-y: scroll;
  height: 100%;
}

.message-list ul {
  list-style-type: none;
}
    
.message {
  -moz-user-select: text;
  background: #eee;
  border-color: transparent -moz-use-text-color;
  border-style: solid none;
  border-width: 1px medium;
  color: #2c2d30;
  display: block;
  font-family: Slack-Lato,appleLogo,sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  margin: 0 auto 1.2rem;
  overflow-wrap: break-word;
  padding: 0.0625rem 2.5rem 0.125rem 0;
  position: relative;
  width: 100%;
  
  div {margin-left: 4.5rem;} /* Slackの.message_contentに当たる部分 */
  .message-icon{
    margin-top: 0.25rem;
    margin-left: 0;
    display: block;
    padding-right: 0.625rem;
    width: 4rem;
    left: 0;
    position: absolute;
    text-align: right;
    top: 0; 
      img{
        border-radius: 0.2rem;
      }
    }
    
  }


