html, body {
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  width: 100vw;
}
.header {
  width: 100%;
  h1 {
    display: inline;
  }
  .generate-button {
    /* tekitou */
    position: absolute;
    right: 0;
    display: inline-block;
    margin: 10px 5px;
    /* tekitou */
  }
}
.body {
  height: 70%;
}
.modal-wall {
  &.invisible {
    display: none;
  }
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  .text-copy-dialog {
    margin: 0 auto;
    /* tekitou */
    top: 200px;
    position: relative;
    background: #FFF;
    /* tekitou */
  }
}

.scrollable-container {
  overflow-y: scroll;
}

/* 基本はここに書く感じ */
/* 全体的に胡散臭いけどtekitouは特にうさんくさいところに書いてる */
