<!DOCTYPE html>
<html>
  <head>
    <title>komonjo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    webpack_asset_path('application.css'), media: 'all' %>
    <%= javascript_include_tag webpack_asset_path('application.js') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
